<jce-user-form  (userAddedEvent) = "addUser($event)"></jce-user-form>
<jce-spinner [visible] = "isLoading"></jce-spinner>
<div style = "margin-top: 5px">
  <ul class="list-group-item users">
    <li class="list-group-item" 
      *ngFor = "let user of users" 
      (click) = "select(user)"
      [class.active]="currentUser == user" >
      <jce-user [user] = "user"
      (deleteEvent) = "deleteUser($event)"
      (editEvent) = "updateUser($event)"></jce-user>
    </li>
  </ul>
</div>