<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<div class = "conteiner">
  <h2>Add Invoice</h2>
  <form name = "myform"(ngSubmit) = "onSubmit(f)" #f = "ngForm">
  <div class="form-group">
      <label for="name">Product Name</label>
      <input type="text" class="form-control" id="name" name = "name" required [(ngModel)] = "invoice.name">
      <span ng-show="myform.name.$touched && myform.name.$invalid">Please fill Product Name</span>
  </div>
  <div class="form-group">
    <label for="amount">Amount</label>
    <input type="number" class="form-control" id="amount" name = "amount" required [(ngModel)] = "invoice.amount">      
  </div>
  <button type="submit" class="btn btn-primary" >Save Invoice </button>
  </form>
</div>