<jce-spinner [visible] = "isLoading"></jce-spinner>
<div style = "margin-top: 5px">
  <h2>List of invoices</h2>
  <ul class="list-group-item invoices">
    <li class="list-group-item" 
      *ngFor = "let invoice of invoices" 
      (click) = "select(invoice)"
      [class.active]="currentInvoice == invoice" >
      <app-invoice [invoice] = "invoice"></app-invoice>
    </li>
  </ul>
</div> 