<span *ngIf = "!isEdit">Name: {{user.name}}, Email: {{user.email}}</span>
<span *ngIf = "isEdit"> 
    Name: <input type = "text" [(ngModel)] = "user.name"> 
    Email: <input type = "text" [(ngModel)] = "user.email"> 
</span>
<button type="button" class="pull-right btn btn-danger btn-xs" (click) = "sendDelete()">Delete</button>
<button type="button" class="pull-right btn btn-info btn-xs" style="margin-right: 5px" (click) = "toggleEdit()">{{editButtonText}}</button>